#artists {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    position: relative;
    align-items: center;

    ::-webkit-scrollbar {
        width: 0px;
    }
    
    h1 {
        animation: headingAnimation 4s infinite alternate backwards;
        text-align: center;
        font-size: 25px;
        padding: 10px;
        color: $black;
        width: 20%;
        margin: 20px auto;
    }
    .aboutP {
        margin: 0 auto;
        position: relative;
        overflow: scroll;
        margin: 50px;
        overflow-x: hidden;
        width: 100%;
        p {
            margin: 40px auto;
            top: 0%;
            padding: 20px;
            font-size: 30px;
            color: $black;
            font-weight: bolder;
            .red {
                font-size: 25px;
            }
        }
    }
}
    