#artists {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    position: relative;
    align-items: center;
    ::-webkit-scrollbar {
        width: 0px;
    }
    
    h1 {
        animation: headingAnimation 4s infinite alternate backwards;
        text-align: center;
        font-size: 25px;
        padding: 10px;
        color: $black;
        width: 20%;
        margin: 50px auto;
    }
    .aritstImg {
        margin: 0 auto;
        max-width: 75%;
        position: relative;
        background-image: url(../img/aritst.gif);
        background-size: 300px 300px;
        background-position: center;
        overflow: scroll;
        max-height: 60vh;
        margin: 50px;
        background-repeat: no-repeat;
        overflow-x: hidden;
        height: 500px;
        width: 100%;
        p {
            font-size: 30px;
            margin: 0 auto;
            // padding: 80px;
            top: 0%;
            color: $black;
            font-weight: bolder;
        }
    }
}
    