#artists {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    align-items: center;
    img {
        width: 600px;
    }
}
    