#artists {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    position: relative;
    align-items: center;
    
    h1 {
        animation: headingAnimation 4s infinite alternate backwards;
        text-align: center;
        font-size: 25px;
        padding: 10px;
        color: $black;
        width: 20%;
        margin: 50px auto;
    }
    .aritstImg {
        margin: 0 auto;
        position: relative;
        background-image: url(../img/artists.png);
        background-size: cover;
        overflow: scroll;
        max-height: 50vh;
        background-repeat: no-repeat;
        ::-webkit-scrollbar {
            width: 0px;
        }
        overflow-x: hidden;
        
        p {
            font-size: 50px;
            width: 75%;
            top: 0%;
            color: $white;
            font-weight: bolder;
        }
    }
}
    