#contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:85vh;
        h1 {
            font-size: 300%;
            color: black;
            margin-bottom: 25px;
        }
        form {
            font-family: 'Allerta';
            justify-content: center;
            label {
                font-size: 45px;
            }
            input {
                height: 50px;
                padding: 15px;
                // text-align: center;
                border: none;
                background-color: white;
                border-bottom: 12px solid black;
                color: black;
                font-size: 20px;
                
                margin: 10px;   
                // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            textarea {
                background-color:black;
                color: white;
                border: none;
                padding: 25px;
                margin: 10px;  
            }
            #submit {
                color: black;
                background-color: #fff;
                font-size: 25px;
                font-weight: bolder;
                text-transform: lowercase;
                border: none;
                &:before {
                    content: "";
                    width: 0%;
                    transition: 0.3s all ease-out;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    background-color: black;
                    height: 5px;
                }
                &:hover:before {
                    width: 100%;
                 }
               
            }
        }
}