// Load Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500,700');
@import url('https://fonts.googleapis.com/css?family=Allerta|Bowlby+One+SC|Marcellus+SC');
body {
	font-weight: 500;
	font-family: 'Allerta';
	justify-content: center;
	align-items: center;
}
.hidden {
	display: none;
}
.fadeIn {
	animation-name: fade_in;
	animation-duration: 0.6s;	
}
.fadeOut {
	animation-name: fade_out;
	animation-duration: 0.4s;	
}
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade_out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
// Global Variables
$black: #111111;
$white: #ededed;
$light-blue: #6fbfe8;
$accent-orange: #d6751b;

.opacityZero {
	opacity: 0;
}

.snake {
	font-size: 320px;
	font-family: Arial, Helvetica, sans-serif;
	width: 40px;
	height: 40px;
	opacity: 0;
	background-size: cover;
	position: absolute;
	top: 30%;
	z-index: -1;
	transform: rotate(20deg);
	left: 20%;
	animation: snake 10s infinite;
}

@keyframes snake {
	0% {display:block}
	10% {opacity: 0}
	37% {opacity: 1}
	100% {opacity: 0}
}