// Load Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500,700');
@import url('https://fonts.googleapis.com/css?family=Allerta|Bowlby+One+SC|Marcellus+SC');
body {
	font-weight: 500;
	font-family: 'Allerta';
	justify-content: center;
	align-items: center;
}
.hidden {
	display: none;
}
.fadeIn {
	animation-name: fade_in;
	animation-duration: 0.6s;	
}
.fadeOut {
	animation-name: fade_out;
	animation-duration: 0.4s;	
}
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade_out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		// display: none;
	}
}
// Global Variables
$black: #111111;
$white: #ededed;
$light-blue: #6fbfe8;
$accent-orange: #d6751b;

.opacityZero {
	opacity: 0;
}

// .snake {
// 	font-size: 320px;
// 	font-family: Arial, Helvetica, sans-serif;
// 	width: 40px;
// 	height: 40px;
// 	opacity: 0;
// 	background-size: cover;
// 	position: absolute;
// 	top: 30%;
// 	z-index: -1;
// 	transform: rotate(20deg);
// 	left: 20%;
// 	animation: snake 10s infinite;
// }

@keyframes snake {
	0% {display:block}
	10% {opacity: 0}
	37% {opacity: 1}
	100% {opacity: 0}
}

@keyframes headingAnimation {
	0% {transform: translate(5px,5px)}
	10% {transform: translate(-7px,4px)}
	40% {transform: translate(3px, 5px)}
	60% {transform: translate(2px, -4px)}
	90% {transform: translate(-6px, -3px)}
}

@keyframes topBorder_animation {
	0% {width: 0%}
	10% { width: 100%;}
	75% {transform: translate(0%);}
	85% {transform: translateX(100%);}
	100% {transform: translateX(100%);}
}

@keyframes bottomBorder_animation {
	0% {width: 0%}
	10% { width: 100%;}
	75% {transform: translate(0%)}
	85% {transform: translateX(-100%);
	width: 100%;}
	100% {transform: translateX(-100%);
		width: 100%;}
}
@keyframes rightBorder_animation {
	0% {height: 0%}
	10% { height: 100%;}
	75% {transform: translateY(0%)}
	85% {transform: translateY(100%);
	height: 100%;}
	100% {transform: translateY(100%);
		height: 100%;}
	
}
@keyframes leftBorder_animation {
	0% {height: 0%}
	10% { height: 100%;}
	75% {transform: translateY(0%)}
	85% {transform: translateY(-100%);
	height: 100%;}
	100% {transform: translateY(-100%);
		height: 100%;}
}