#landing_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    nav {
        display: flex;
        justify-content: flex-end;
        top: 0;
        right: 0;
        padding-right: 15px;
        img{
            width: 30px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    #menu {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color:black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            #xClose {
                position: absolute;
                top: 0;
                right: 0;
                color: white;
                font-size: 40px;
            }
            a {
                padding: 50px;
                text-decoration: none;
                color: white;
                font-size: 80px;
            }
        
    }
    #hero {
        height: 75vh;
        background-image: url(https://i.pinimg.com/originals/87/9d/ba/879dba18b5a135c7a69b5cd081cb1552.gif);
        justify-content: center;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
            h1 {
                font-size: 90px;
                font-weight: 500;
            }
    }
}