#hero {
    width: 50vw;
    height: 40vh;
    background-image: url(https://media.giphy.com/media/xTiTnyAPHk8uRE4oGQ/giphy.gif);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
        h1 {
            font-size: 40px;

        }
}