#landing_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: -1;
    #hero {
        height: 60vh;
        // background:$black;
        justify-content: center;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $black;   
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://media.giphy.com/media/NBUr1A2Ay3IKA/giphy.gif);
        // background-image: url(https://media.giphy.com/media/Wed1H86rYDxEA/giphy.gif);
        // background-image: url(../img/kobra1.png);
            h1 {
                font-size: 45px; 
                color: $black;
            }
    }
}