#landing_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: -1;
    #hero {
        height: 60vh;
        background:$black;
        justify-content: center;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $black;   
        background-size: contain;
        background-repeat: no-repeat;
        // background-image: url(https://media.giphy.com/media/NBUr1A2Ay3IKA/giphy.gif);
        // background-image: url(https://media.giphy.com/media/Wed1H86rYDxEA/giphy.gif);
        // background-image: url(../img/kobra1.png);
        // background-image: url(https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/16265342_1607146592645125_6018026616979225326_n.jpg?_nc_cat=0&oh=e5d96c49342db63b14e26ae3c25b46c8&oe=5B6CD1CC);
            h1 {
                font-size: 45px; 
                color: $black;
                color: $white;
            }
    }
}