#landing_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: -1;
    #hero {
        height: 60vh;
        justify-content: center;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $black;   
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2015-06/29/16/enhanced/webdr14/anigif_enhanced-7151-1435608300-10.gif?downsize=715:*&output-format=auto&output-quality=auto);
            h1 {
                font-size: 75px; 
                font-weight: 600;
                color:#cc003f;
                @media (max-width: 700px) {
                    font-size: 35px; 
                 }
            }
        
    }
    @media (max-width: 500px) {
        height: 30vh; 
    }
}